html,
body
	margin: 0
	padding: 0
	width: 100%
	height: 100%

html
	background: #1A1A1A no-repeat center center
	background-image: url('../media/shark-logo.png')
	background-image: url('../media/shark-logo.svg')
	background-size: contain
